/* Name: Rebecca Decker
   Date: August 31, 2025
   Course: WEB210.0002

/* Works Cited: 
   https://www.w3schools.com/colors/colors_picker.asp 
   https://www.w3schools.com/Css/css_background_image.asp */

html {
    margin: 1%;
}

body {
    background-image: url("WidgetCoLogo.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size:60%;
}

header {
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    white-space:normal;
    border-style: solid;
    border-left: none;
    border-right: solid 18px;
    border-top-width: 0.1em;
    border-bottom-width: 0.1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

aside {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    float: right;
    text-align: right;
    padding-left: 3%;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 18px solid;
    border-right-color: rgb(82, 75, 103);
    padding-inline-end: 2%;
    padding-top: 1%;
}

aside::first-line {
    font-weight: bold;
    font-size: 18px;
}

article {
    padding-left: 4%;
    padding-right: 4%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bold;
    text-align: left;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-top: 2%;
    padding-left: 6%;
    padding-right: 6%;
    word-spacing: 0.1em;    
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    word-spacing: normal;
    line-height: 1.3em;
    padding-left: 6%;
    padding-right: 6%;
} 

section {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    word-spacing: 0.1em;
    width:inherit;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    background-color:#f9f9e6;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-style: solid;
    border-left: 37px solid  rgba(0, 118, 0, 0.906);
    border-color: rgba(0, 118, 0, 0.906);
}

section a:link {
    font-weight: bolder;
}

section p {
    inset-block-start:  3%;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: end;
    font-size: 16px;
    font-style: italic;
    margin-top: 2%;
    word-spacing: 1%;
    color:rgb(158, 158, 158);
    border: 2px solid rgb(204, 204, 204);
    border-width: 2px;
    border-left: none;
    border-bottom: none;
    border-right: none;
    padding-top: 1%;
}

footer a:link {
    color: rgb(113, 113, 113);
}